body {
    background-color: lightblue;
}
img {
    background-image: url("flogo.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    width: 602px;
    height: 178px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
center{
    position: relative;
}